.input,
.style {
  display: flex;
  flex-flow: column;
}

.style {
  &__upload {
    font-family: "SF Pro Display", sans-serif;
    color: #b15f8c;
    background-color: none;
    border: none;
    border-radius: 8px;
  }

  &__image {
    width: 250px;
    height: auto;
  }
}

.input__upload {
  font-family: "SF Pro Display", sans-serif;
  color: #b15f8c;
  background-color: none;
  border: none;
  border-radius: 8px;
}
